* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #1d1d1d;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FA4EAB;
  padding: 15px 30px;
  transition: 300ms;
}

.navbar ul li a:hover {
  background-color: #524A4E;
}

.navbar ul li:hover ul.dropdown {
  display: block;
}

.navbar .dropdown li a:hover {
  background-color: #0e0e0e;
  color: #16FF00;
}

.navbar .dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  font-size: small;
  text-align: center;
}

.navbar .dropdown li {
  display: block;
  background-color: #3F3038;
}

header {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #323232;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.head {
  padding: 5px;
  padding-left: 20px;
}

#profile {
  padding: 50px;
}

#profile img {
  border-radius: 100%;
  border: 5px solid #FA4EAB;
  width: 250px;
}

.content {
  margin: auto;
  width: 800px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #323232;
}

#headinfor {
  background-color: #FA4EAB;
  padding: 20px;
  color: white;
  text-align: center;
}

.infor {
  padding: 20px;
  text-align: center;
  color: white;
}

#name {
  display: block;
  margin: auto;
  padding: 15px;
  background-color: #2c2c2c;
  color: white;
  border-radius: 30px;
  height: 120px;
  width: 650px;
}

table {
  border-spacing: 0px;
  text-align: left;
  vertical-align: middle;
}

th, td {
  padding: 8px 40px;
}

.Age {
  text-align: center;
  padding: 100px;
}

.view img {
  border-radius: 10px;
  border: 5px solid #16FF00;
}

.view {
  padding: 50px;
  text-align: center;
  color: #16FF00;
}

#vw {
  padding-top: 20px;
}

.activity {
  text-align: center;
  padding-bottom: 50px;
  display: block;
  margin: auto;
  color: #16FF00;
}

#headage {
  padding: 40px;
  background-color: #28911e;
  color: white;
  border-radius: 80px;
  width: 280px;
  height: 30px;
  margin: auto;
}

.at1 {
  display: flex;
  width: 750px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  border-radius: 20px;
}

.at1 img {
  border-radius: 10px;
  padding: 0px;
}

#atcn1 {
  padding-left: 40px;
  justify-content: center;
  align-items: center;
}

#atcn1 p {
  width: 300px;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: #FA4EAB;
  color: #FFF2F9;
  display: flex;
  justify-content: right;
  padding: 15px;
}

#headcontact {
  border-right: 2px solid #FFF2F9;
  padding-right: 1rem;
}

.con {
  display: flex;
  justify-content: space-between;
}

.con ul {
  display: flex;
  list-style: none;
}

.con ul li {
  margin-left: 5px;
  margin-right: 5px;
  font-size: small;
}

.con ul li a {
  color: #FFF2F9;
  text-decoration: none;
}

#epl1 {
  border-right: 2px solid #FFF2F9;
  padding-right: 0.3rem;
  padding-left: 10px;
}

#epl2 {
  padding-left: 10px;
}

#nb2{
  height: 2px;
  width: 85%;
  margin: auto;
  border-radius: 5px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}