html {
  box-sizing: border-box
}

*,*:before,*:after {
  box-sizing: inherit
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

footer,header {
  display: block
}

a {
  background-color: transparent
}

a:active,a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

img {
  border-style: none
}


button {
  font: inherit;
  margin: 0
}

button {
  text-transform: none
}

/* End extract */
html,body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h1,h3,h4 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.wide {
  letter-spacing: 4px
}

.image {
  max-width: 100%;
  height: auto
}

img {
  vertical-align: middle
}

a {
  color: inherit
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.bar {
  width: 100%;
  overflow: hidden
}

.center .bar {
  display: inline-block;
  width: auto
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.bar {
  position: static;
  float: left
}

.bar .button {
  white-space: normal
}

.bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0
}

.center .bar-item {
  text-align: center
}

.block {
  display: block;
  width: 100%
}

.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before, .cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after {
  content: "";
  display: table;
  clear: both
}

.col,.half,.third,.twothird,.threequarter,.quarter {
  float: left;
  width: 100%
}

.col.s1 {
  width: 8.33333%
}

.col.s2 {
  width: 16.66666%
}

.col.s3 {
  width: 24.99999%
}

.col.s4 {
  width: 33.33333%
}

.col.s5 {
  width: 41.66666%
}

.col.s6 {
  width: 49.99999%
}

.col.s7 {
  width: 58.33333%
}

.col.s8 {
  width: 66.66666%
}

.col.s9 {
  width: 74.99999%
}

.col.s10 {
  width: 83.33333%
}

.col.s11 {
  width: 91.66666%
}

.col.s12 {
  width: 99.99999%
}

@media (min-width: 601px) {
  .col.m1 {
      width:8.33333%
  }

  .col.m2 {
      width: 16.66666%
  }

  .col.m3,.quarter {
      width: 24.99999%
  }

  .col.m4,.third {
      width: 33.33333%
  }

  .col.m5 {
      width: 41.66666%
  }

  .col.m6,.half {
      width: 49.99999%
  }

  .col.m7 {
      width: 58.33333%
  }

  .col.m8,.twothird {
      width: 66.66666%
  }

  .col.m9,.threequarter {
      width: 74.99999%
  }

  .col.m10 {
      width: 83.33333%
  }

  .col.m11 {
      width: 91.66666%
  }

  .col.m12 {
      width: 99.99999%
  }
}

@media (min-width: 993px) {
  .col.l1 {
      width:8.33333%
  }

  .col.l2 {
      width: 16.66666%
  }

  .col.l3 {
      width: 24.99999%
  }

  .col.l4 {
      width: 33.33333%
  }

  .col.l5 {
      width: 41.66666%
  }

  .col.l6 {
      width: 49.99999%
  }

  .col.l7 {
      width: 58.33333%
  }

  .col.l8 {
      width: 66.66666%
  }

  .col.l9 {
      width: 74.99999%
  }

  .col.l10 {
      width: 83.33333%
  }

  .col.l11 {
      width: 91.66666%
  }

  .col.l12 {
      width: 99.99999%
  }
}

.content {
  margin-left: auto;
  margin-right: auto
}

.content {
  max-width: 980px
}

.top,.bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.top {
  top: 0
}

.bottom {
  bottom: 0
}

.display-container:hover .display-hover {
  display: block
}

.display-container:hover span.display-hover {
  display: inline-block
}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
  padding: 0 50px
}

.container {
  padding: 0.01em 16px
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.std,.hover-std:hover {
  opacity: 0.60
}

.std-off,.hover-std-off:hover {
  opacity: 1
}

.std-max {
  opacity: 0.25
}

.std-min {
  opacity: 0.75
}

.center {
  text-align: center!important
}

.border {
  border: 1px solid #ccc!important
}

.border-bottom {
  border-bottom: 1px solid #ccc!important
}

.margin {
  margin: 16px!important
}

.margin-bottom {
  margin-bottom: 16px!important
}

.padding {
  padding: 8px 16px!important
}

.padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.left {
  float: left!important
}

.right {
  float: right!important
}

.button:hover {
  color: #000!important;
  background-color: #ccc!important
}

/* Colors */


.pink,.hover-pink:hover {
  color: #fff!important;
  background-color: #e91e63!important
}

.white,.hover-white:hover {
  color: #000!important;
  background-color: #fff!important
}

.black,.hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover {
  color: #000!important;
  background-color: #f1f1f1!important
}

.border-light-grey,.hover-border-light-grey:hover,.border-light-gray,.hover-border-light-gray:hover {
  border-color: #f1f1f1!important
}
/* Responsive Styles */
@media (max-width: 600px) {
  /* Styles for small screens (phones) */

  .row-padding,
  .row-padding > .half,
  .row-padding > .third,
  .row-padding > .twothird,
  .row-padding > .threequarter,
  .row-padding > .quarter,
  .row-padding > .col {
    padding: 0;
  }

  .container {
    padding: 0.01em 8px;
  }

  .bar .bar-item,
  .col,
  .button {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  /* Styles for medium screens (tablets) */
  
  .row-padding,
  .row-padding > .half,
  .row-padding > .third,
  .row-padding > .twothird,
  .row-padding > .threequarter,
  .row-padding > .quarter,
  .row-padding > .col {
    padding: 0 25px;
  }

  .container {
    padding: 0.01em 16px;
  }
}

